<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
  <title>Miata Club - About</title>
</head>


<body>
  <%- include('header.ejs'); -%>
  <section class="welcome">
    <h1>About Us</h1>
    <p>
      This is a club of Mazda Miata enthusiasts. <br><br>
      This site serves as a place for friendly discussion and a place to organize events. <br>
    </p>
  </section>
  <%- include('footer.ejs'); -%>
</body>

</html>
