<footer>
  <div class="site_map">
    <h2>Site Map</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/connections">Connections</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li>
        <a href="https://validator.w3.org/check?uri=referer">Validate HTML5</a>
      </li>
      <li>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" rel="nofollow" title="Validate CSS">Validate CSS</a>
      </li>
    </ul>
  </div>
</footer>
