<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
  <title>Miata Club</title>
</head>


<body>
  <%- include('header.ejs'); -%>
  <section class="welcome">
    <h1>Miata Club of North Carolina</h1>
    <img id="generations_image" src="assets/images/generations.png" alt="evolution of miata">
    <p>
      Welcome to the home page of the Miata Club of North Carolina.
    </p>
  </section>
  <%- include('footer.ejs'); -%>
</body>

</html>
